.users {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.links {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links li {
  display: block;
  cursor: pointer;
}
.links li:hover {
  text-decoration: underline;
}
.details {
  width: 600px;
}